# python
*.py[cod]
# flask assets
ces_asia/static/.webassets-cache
ces_asia/static/css/style.css
ces_asia/static/css/pure.css
# flask babel
*.mo
# javascript things
node_modules
ces_asia/static/bower_components
