<!DOCTYPE html><html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}{% if self.title() %} :: {% endif %}{{ _('La French Tech at CES Asia 2016') }}</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="/static/favicon.ico?v=1" sizes="16x16 24x24 32x32 64x64" type="image/vnd.microsoft.icon">
        <link href="{{ url_for('static', filename='bower_components/normalize.css/normalize.css') }}" rel="stylesheet"/>
        {% assets "purecss" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
        {% endassets %}
        {% assets "localstyle" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
        {% endassets %}
    </head>
    <body>
        <header class="navbar-container" role="banner">
            <div class="wrapper navbar-content">
                <a class="logo" href="{{ url_for('index', lang=g.lang) }}"><img src="{{ url_for('static', filename='img/lft-sh_logo.png') }}" alt="{{ _('La French Tech Shanghai Community logo') }}"></a>
                <nav class="main-menu" role="navigation">
                    <ul>
                        <li><a href="{{ url_for('index', lang=g.lang) }}"><div>{{ _("Home") }}</div></a></li>
                        <!-- <li><a href="{{ url_for('about', lang=g.lang) }}"><div>{{ _("What's CES Asia") }}?</div></a></li> -->
                        <li><a href="{{ url_for('signup', lang=g.lang) }}"><div>{{ _("Signup") }}</div></a></li>
                        <li><a href="{{ url_for('contacts', lang=g.lang) }}"><div>{{ _("Contacts") }}</div></a></li>
                        <!-- <li><a href="{{ url_for('index', lang=g.lang) }}"><div>{{ _("FAQ") }}</div></a></li> -->
                    </ul>
                    <nav class="lang">
                        <ul>
                            <li><a href="{{ url_for(request.endpoint, lang='fr') }}">fr</a></li>
                            <!-- <li><a href="{{ url_for(request.endpoint, lang='en') }}">en</a></li> -->
                            <li><a href="{{ url_for(request.endpoint, lang='zh_CN') }}">中文</a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
        </header>
        <div class="content">
            {% if self.title() %}
            <section class="title">
                <div class="wrapper">
                    <h1>{{ self.title() }}</h1>
                </div>
            </section>
            {% endif %}
            <div class="wrapper">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <footer>
            <div class="wrapper">
                <ul class="links">
                    <li><a href="https://github.com/FrenchTech-Shanghai/ces-asia" target="_blank"><span class="icon-github" title="Github"></span></a></li>
                    <li><a href="https://twitter.com/LaFrenchTechSha" target="_blank"><span class="icon-twitter" title="Twitter: @LaFrenchTechSha"></span></a></li>
                    <li><span class="icon-wechat" title="wechat: lafrenchtech"></span></li>
                    <li><a href="http://www.lafrenchtech.com/" target="_blank"><img src="{{ url_for('static', filename='img/lft_logo-monochrome-white-small.png') }}" alt="{{ _("La French Tech logo") }}" title="{{ _("La French Tech website") }}"></a></li>
                </ul>
                <span>&copy; 2016 <a href="http://www.bonz.org/">Stefan "hr" Berder</a>
            </div>
        </footer>
    </body>
</html>
