/*
 * Main content
 */

.content {
    margin-bottom: 4em;

    section.title {
        background: $content-title-bg;
        margin-bottom: 3em;
        overflow: hidden;
        width: 100%;

        h1 {
            color: white;
            margin-top: 0.5em;
            text-align: center;
            text-transform: uppercase;
        }
    }

    p,
    li {
        font-family: $content-font-family;
        font-size: 1.1em;
    }
}

.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
}

p.hl {
    font-weight: 700;
}

/*
 *  Home
 */
article.home {
    .toplogos {
        @include align-items(center);
        @include display(flex);
        @include justify-content(space-around);

        img {
            @include flex(0 1 auto);
            width: 30%;
        }
    }
}
