/*
 * Header menu
 */

.navbar-container {
    background: $menu-bg;
    overflow:hidden;
    width: 100%;
    z-index: 2;
}

.navbar-content {
    a.logo {
        display: inline-block;
        float: left;

        img {
            margin: 8px 0;
        }
    }
}

nav.main-menu {
    @include align-items(center);
    @include display(flex);
    @include justify-content(flex-end);

    a {
        color: $lft_grey;
        display: block;
        font-weight: 700;
        max-width: 12em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1em 1.4em;
        @include flex(0 1 auto);
        
        &:hover {
            color: white;
        }

        &:after {
            content: "";
            display: block;
            border-right: 1px solid $lft_dark_grey;
            height: $menu-sep-height;
            margin-top: -$menu-sep-height / 2;
            position: absolute;
            top: 50%; right: 0;
        }
    }

    ul {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        @include display(flex);
        @include flex(0 1 auto);
        @include justify-content(flex-end);

        li {
            margin: 0;
            padding: 0;
            position: relative;
            text-align: center;
            transition: all 0.4s ease;
            @include align-items(center);
            @include display(flex);
            @include flex(0 1 auto);
            @include justify-content(center);

            &:hover {
                background: $lft-red;
            }

            &:last-child {
                a:after {
                    border-right: none;
                }
            }
        }
    }

    nav.lang {
        margin-left: 2em;
        @include align-items(center);
        @include display(flex);
        @include justify-content(flex-end);
        @include flex(0 1 auto);

        a {
            font-size: 0.6em;
            padding: 0.5em 0.7em;

            &:hover {
                color: $lft_grey;
            }
        }

        ul {
            li {
                line-height: 1em;
                transition: none;

                &:hover {
                    background: none;
                    border-bottom: solid 4px $lft_red;
                    margin-bottom: -4px;
                }
            }
        }
    }
}
