/*
 *  COLORS
 */

// La FrenchTech colors
// Primary
$lft-dark_pink: #c5205d;
$lft-dark_red: #ad1a29;
$lft-dark_grey: #425f6c;
// Secondary
$lft-pink: #e14277;
$lft-light_pink: #f18a9e;
$lft-red: #ec3737;
$lft-grey: #7a97aa;
$lft-green: #53bbad;
$lft-light_green: #b5ddd6;

// main colors (some from lafrenctech.com don't follow guidelines)
$local-grey: #4d6069;
$local-red: #ee1e3e;
$local-dark_grey: #9ba7ac;

//
// Components
//
$base-font-size: 1em;
$font-family: "Open San light", $helvetica;
$body-color: $lft-grey;
$wrapper-width: 55%;
$h-color: $local-red;
$btn-bg: $lft-red;
$input-border: $lft-red;

// menu
$menu-height: 2.45em;
$menu-bg: rgba($lft-red, 0.2);
$menu-sep-height: 1.8em;
$menu-sep-color: $lft-dark_grey;
$menu-item-bg: $lft-red;
$menu-item-color: $lft-dark_grey;

// content
$content-font-family: $georgia;
$content-title-bg: $local-red;
