<!DOCTYPE html><html lang="en">
    <head>
        <title>{% block title %}{% endblock %}{{ _('La French Tech at CES Asia 2016') }}</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="/static/favicon.ico?v=1" sizes="16x16 24x24 32x32 64x64" type="image/vnd.microsoft.icon">
        <link href="{{ url_for('static', filename='bower_components/normalize.css/normalize.css') }}" rel="stylesheet"/>
        {% assets "localstyle" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
        {% endassets %}
    </head>
    <body>
        <header class="navbar-container" role="banner">
            <div class="wrapper navbar-content">
                <a class="logo" href=""><img src="{{ url_for('static', filename='img/lft-sh_logo.png') }}" alt="{{ _('La French Tech Shanghai Community logo') }}"></a>
                <nav class="main-menu" role="navigation">
                    <ul>
                        <li><a href="{{ url_for('index', lang=g.lang) }}"><div>{{ _("What's CES Asia") }}</div></a></li>
                        <li><a href="{{ url_for('signup', lang=g.lang) }}"><div>{{ _("Signup") }}</div></a></li>
                    </ul>
                    <nav class="lang">
                        <ul>
                            <li><a href="{{ url_for(request.endpoint, lang='fr') }}">fr</a></li>
                            <li><a href="{{ url_for(request.endpoint, lang='en') }}">en</a></li>
                            <li><a href="{{ url_for(request.endpoint, lang='zh_CN') }}">中文</a></li>
                        </ul>
                    </nav>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="wrapper">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <p class="footer"></p>
    </body>
</html>
